<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/st1.css"
</head>
<body>
<div id="header"></div>
<div id="navigater"></div>
<div id="content">
	<form action="/deleteMember" method="post">
	<div >
		<table width="50%" id="contentArea">
			<tr>
				<td th:text="${session.M.name}">

				<td><input type="submit" value="確認刪除">
		</table>	
	</div>
	</form>
</div>	

<div id="footer"></div>
</body>
</html>