<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/st1.css"
</head>
<body>
<div id="header"></div>
<div id="navigater"></div>
<div id="content">
	<form action="/updatePassword" method="post">
	<div >
		<table width="50%" id="contentArea">
			<tr>
				<td th:text="${session.M.name}">
			
			<tr>
				<td><h3> 請輸入新密碼</h3>
				
			<tr>
				<td><input type="password" name="newPassword"><br>
				<input type="submit" value="送出">
		</table>	
	</div>
	</form>
</div>	

<div id="footer"></div>
</body>
</html>